<div class="container">
  <app-card-view>
    <app-months-debts></app-months-debts>
    <div *ngIf="!emptyResult && !loading">
      <br>
        <label class="mat-label"><strong>Encontrar Dívida:</strong></label>
        <input
          matInput
          placeholder="Pesquisar Dívida"
          appInputWidth
          (keyup)="applyFilter($event)"
        />
    </div>
    <button
      color="primary"
      class="btn-default btn btn-primary"
      (click)="openDialog()"
    >
      Adicionar Dívida
    </button>
    <div class="center custom-position">
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <table
      mat-table
      class="mat-elevation-z8"
      [dataSource]="dataSource"
      *ngIf="!loading && !emptyResult"
    >
      <ng-container matColumnDef="divida">
        <th mat-header-cell *matHeaderCellDef>Dívida</th>
        <td mat-cell *matCellDef="let element">
          {{element.debt}}
        </td>
      </ng-container>

      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let element">
          {{element.category}}
        </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element">
          {{element.value | currency: "BRL": "symbol": "1.2-2"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="dataVencimento">
        <th mat-header-cell *matHeaderCellDef>Data de Vencimento</th>
        <td mat-cell *matCellDef="let element">
          {{element.expirationDate | date : "dd/MM/yyyy"}}
        </td>
      </ng-container>

      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">
          {{element._id | shortener}}
        </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef style="width: 7%">Ações</th>
        <td mat-cell *matCellDef="let element">
          <div *ngFor="let img of element.actions; let i = index">
            <img
              class="image"
              [src]="img"
              alt=""
              (click)="selectAction(img, element)"
            />
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns "></tr>
    </table>

    <mat-paginator
      #paginator
      *ngIf="!emptyResult && !loading"
      [length]=""
      [pageSize]="3"
      [pageSizeOptions]="[1, 2, 4]"
    >
    </mat-paginator>

    <ng-container *ngIf="emptyResult && !loading">
      <div class="container">
        <div class="center">
          <span>Você ainda não cadastrou dívidas para esse mês.</span>
        </div>
      </div>
    </ng-container>
  </app-card-view>
</div>
