<form>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Dívida</label>
    <input
      type="text"
      class="form-control"
      id="depesa"
      aria-describedby="debt"
    />
  </div>
  <div class="form-group">
    <label for="category">Categoria</label>
    <select
      name="categoria"
      id="categoria"
      class="form-control"
    >
      <option>
      </option>
    </select>
  </div>
  <div class="form-group">
    <label for="value">Valor</label>
    <input
      type="text"
      class="form-control"
      id="valor"
      aria-describedby="value"
    />
  </div>
  <div class="form-group">
    <label for="expirationDate">Data de Vencimento</label>
    <input
      type="date"
      class="form-control"
      id="dataVencimento"
      aria-describedby="expirationDate"
    />
  </div>
  <button class="btn btn-primary">Atualizar Dívida</button>
</form>
