<h1>Continue seu cadastro!</h1>

<form [formGroup]="form"
(ngSubmit)="submit()"
>
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Nome"
      aria-label="name"
      aria-describedby="name"
      formControlName="name"
    />
  </div>

  <div class="input-group mb-3">
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      aria-label="email"
      aria-describedby="email"
      formControlName="email"
    />
  </div>

  <div class="input-group mb-3">
    <input
      type="number"
      class="form-control"
      placeholder="Idade"
      aria-label="age"
      aria-describedby="age"
      formControlName="age"
    />
  </div>

  <div class="image-block">
    <img [src]="isDefault ? isDefaultImage : preview" class="circle" alt="">
  </div>

  <label for="basic-url">Adicione uma foto ao perfil</label>
  <div class="input-group mb-3">
    <input
      type="file"
      class="form-control"
      aria-label="imgProfile"
      aria-describedby="imgProfile"
      (change)="onChange($event)"
    />
  </div>

  <div class="input-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Senha"
      aria-label="Password"
      aria-describedby="password"
      formControlName="password"
    />
  </div>

  <div class="input-group mb-3">
    <input
      type="password"
      class="form-control"
      placeholder="Confirmar senha"
      aria-label="confirmPassword"
      aria-describedby="confirmPassword"
      formControlName="confirmPassword"
    />
    <br />
    <div>
      <p *ngIf="form.controls['confirmPassword'].hasError('equalsTo')" class="warn">As senhas não são iguais!!</p>
    </div>
  </div>

  <div class="d-grid gap-2 mt-4">
    <button
      class="btn btn-primary btn-continuation-register"
      type="submit">
      FINALIZAR CADASTRO
    </button>
  </div>
</form>
